@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

h2{
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    background-color: #ae184f;
    color: #fff;
    font-size: 26px;
    letter-spacing: .5px;
    font-weight: 800;
    text-transform: uppercase;
    width: 250px;
    padding: 5px;
    opacity: .8;
}

h4{
	font-weight: 800;
    text-align: left;
    margin-left: -5%;
    padding: 0;
    text-transform: uppercase;
}

h4 i {
    text-transform: lowercase;
}

h4 a {
    text-decoration: none;
    color: #ae184f;
    font-weight: 800;
}

h4 a:hover{
    color: #888;
}

p{
	font-size: 15px;
}

#box{
	width: 480px;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-left: calc(50% - 240px);
	border: 1px #000 solid;
}
#textbox{
	height:500px;
    font-size:14pt;
}

input:hover{
	cursor: pointer;
}

#stories{
    text-align: left;
    list-style: none;
    padding: 0;
    margin-right: 10%;
    margin-left: 10%;
}

#title{
    text-align: left;
    width: 50%;
    PADDING: 0;
}

#newstory{
    padding: 0 0 400px 0;
    width: 50%;
    line-height: 1em;
}

.menu{
    position: absolute;
    top: 30px;
    right: 5%;
}

.menu a{
    font-size: 12px;
    border: .5px solid #888;
    padding: 5px;
    color: #888;
    height: 20px;
    text-decoration: none;
    border-radius: 3px;
}

.menu a:hover{
    color: #fff;
    background: #888;
    border: transparent;
    transition-duration: 400ms;
    border-radius: 3px;
}

#icon{
    position: absolute;
    height: 70px;
    cursor: pointer;
    top: 20px;
    left: 5%;
}

#addform{
    text-align: left;
    margin-left: 5%;
    color: #ae184f;
}

#label{
    font-size: 20px;
    width: 133px;
}

#comments {
    list-style: none;
    font-size: 16px;
    text-align: left;
    margin-left: 5%;
}

#story_body{
    width: 80%;
    margin-left: 10%;
    text-align: left;
    line-height: 25px;
}