@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

h2{
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    color: #ae184f;
    font-size: 35px;
}

h4{
	font-weight: 800;
    text-align: left;
    margin-left: -5%;
    padding: 0;
    text-transform: uppercase;
}

h4 i {
    text-transform: lowercase;
}

p{
	font-size: 15px;
}

#box{
	width: 480px;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-left: calc(50% - 240px);
	border: 1px #000 solid;
}
#textbox{
	height:500px;
    font-size:14pt;
}

input:hover{
	cursor: pointer;
}

#stories{
    text-align: left;
    list-style: none;
    padding: 0;
    margin-right: 10%;
    margin-left: 10%;
}